.dropdown_wrapper {
  .dropdown_btn_wrapper {
  }
  .content_main_wrapper {
    background: #ffffff;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 43px 22px 21px;
    width: max-content;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;

    .content_main_wrapper_child {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .content_row_wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .content_text {
        }
      }
    }
  }
}
